:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "Playfair Display", sans-serif;
  --third-family: "Gilroy-Bold", sans-serif;
  --first-color: #19161b;
  --white-color: #ffffff;
  --text-light-grey-color: #b8b8b8;
  --accent-color: #ffb577;
  --btn-text-color: #2e2d33;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;

  background-color: var(--first-color);
  color: var(--white-color);

  font-family: var(--font-family);
}

h2 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--accent-color);
}

p {
  color: var(--text-light-grey-color);

  font-weight: 400;
  font-size: 16px;
  line-height: calc(28 / 16);
}

a:link {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  background-color: var(--accent-color);
  color: var(--btn-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);

  padding: 12px 24px;
  border: 0;

  cursor: pointer;
}

.btn:hover {
  background-color: var(--btn-text-color);
  color: var(--accent-color);
}

.container {
  max-width: 1280px;
}

/* ====================================================================HEADER==================================================================== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 448px;
  margin-bottom: 96px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

.logo {
  padding-top: 28px;
  padding-bottom: 28px;

  color: var(--accent-color);
}

.nav__list {
  display: flex;
  gap: 40px;
}

.nav__link:link,
.nav__link:visited {
  display: inline-block;
  padding-top: 28px;
  padding-bottom: 28px;

  color: var(--white-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.nav__link:hover {
  color: var(--text-light-grey-color);
}

.clone-link:link,
.clone-link:visited {
  color: var(--accent-color);
  padding-top: 28px;
  padding-bottom: 28px;
}

.clone-link:hover {
  color: var(--text-light-grey-color);
}

/* ====================================================================HERO==================================================================== */
.section-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;

  margin-bottom: 160px;
}

.heading-primary {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 56px;
  line-height: calc(68 / 56);
  opacity: 0.87;

  margin-bottom: 16px;
}

.hero-description {
  margin-bottom: 32px;
}

.hero-btn {
  margin-bottom: 40px;
}

.heading-hero-secondary {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: calc(30 / 20);
}

.hero-info {
  margin-bottom: 16px;
}

.hero-info:last-child {
  margin-bottom: 0;
}

.hero-img {
  width: 622px;
}

/* ====================================================================ABOUT==================================================================== */
